@model FE.Identity.Models.Empresas

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Empresas</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            <label class="control-label">Nombre Empresa</label>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreEmpresa)
        </dd>
        <dt class = "col-sm-2">
            <label class="control-label">Telefono Empresa</label>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelefonoEmpresa)
        </dd>
        <dt class = "col-sm-2">
            <label class="control-label">Cedula Juridica</label>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CedulaJuridica)
        </dd>
        <dt class = "col-sm-2">
            <label class="control-label">Nombre Cliente</label>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Clientes.NombreCliente)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdEmpresa">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
