@model FE.Identity.Models.Gastos

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Gastos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescripcionGasto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescripcionGasto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaGasto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaGasto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MontoGasto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MontoGasto)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdGasto">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
